# Node.js and dependencies
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Svelte/SvelteKit / Vite
.svelte-kit/
.env
.env.*
.env.local
!.env.example
/build
/dist
/eports

# OS junk
.DS_Store
*.suo
*.user
*.class
*.cache
*.komodotools
.idea/

# Docker / DB
postgres-data/
*.sql.bak
*.dump
.sqlite
*.sqlite-journal
/data/*.db

# Editor
.vscode/
.idea/

# Archives / downloads
*.zip
*.tar
*.gz